.vscode
Quiz
*.zip
*.xcf
*.eps
style-guide-template/
node_modules/
*.json
week*
221
css addings
.sass-cache/
nbproject/
parallax
test
foundation/
.sass-cache/
.comments/
zengarden/style.css
zengarden/style.css.map
zengarden/.sass-cache/*
zengarden/.sass-cache/a6acbf59679e49fa250d9afb6834ce351a0c0187/style.scssc

Bootstrap-Skate-Website-lesson1.1/
parcelCSS/
