@import url('https://fonts.googleapis.com/css?family=Lora');
html {
    margin: 0;
    background-color: #fff;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #FAEBD7;
    max-width: 640px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #6495ED;
    padding: 10px 27px 10px 30px;
}

header h1 {
    width: 90%;
    text-align: right;
}

header h1 a,
header h1 a:visited,
nav ul li a,
nav ul li a:visited {
    color: #FAEBD7;
    text-decoration: none;
}

header h1 a:active,
nav ul li a:active {
    color: #DEB887;
    text-decoration: none;
}

header h1 a:hover,
nav ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

hr {
    color: #faebd7;
    width: 100%;
    padding: 0;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: right;
}

figure {
    max-width: 75%;
}

figure img {
    max-width: 200px;
    text-align: left;
}

article {
    max-width: 90%;
    background-color: #fff;
    margin: 20px 5px 0px 20px;
    padding: 35px 30px;
}

.post-content h2 a {
    color: #000;
    text-decoration: none;
}

.post-content p a {
    text-decoration: none;
}

.post-date {
    color: #aeaeae;
}

@media only screen and (min-width: 40.063em) {
    body {
        max-width: 1100px;
    }
    body div {
        display: flex;
    }
    header {
        display: flex;
        flex-direction: column;
        background-color: #6495ED;
        padding: 10px 27px 10px 30px;
        width: 20%;
    }
    main {
        width: 80%;
    }
    article {
        max-width: 90%;
        background-color: #fff;
        margin: 50px 75px 0 75px;
        padding: 35px 50px;
    }
    figure {
        text-align: center;
    }
    figure img {
        max-width: 260px;
    }
}