@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,700,900');
@import 'normalize.css';
@import 'partials/prefix-mixins';
@import 'partials/layout';
@import 'partials/stars';
// color palette - these colors will be the color swatches of the Colors section
$color-1: #30CFD0;
$color-2: #276dcc;
$color-3: #330867;
$color-4: #be50a9;
$color-5: #ffffff;
$color-6: #000;
$color-7: linear-gradient(to right,
#30CFD0 0%,
#276dcc 45%,
#330867 85%);
$color-8: #cecece;
$color-10: #2b3a42;
$color-11: #3f5765;
$color-12: #bdd4de;
$color-13: #efefef;
$color-14: #ff530d;
// additional colors
$success: #6fce72; // green
$alert: #ce0000; // red
// fonts
$primary-font: 'Poppins',
sans-serif;
$secondary-font: 'Poppins',
sans-serif;
html {
    margin: 0;
    padding: 0;
    &::after {
        @include introafter;
    }
}

body {
    display: flex;
    font-family: $primary-font;
    font-weight: 200;
    font-size: 14px;
    line-height: 1.5em;
    color: $color-5;
    background: $color-6;
    margin: 0;
    @include MQ(S) {
        font-family: $primary-font;
        font-size: 16px;
        line-height: 1.5em;
        display: grid;
        grid-gap: 0 25px;
        grid-template-columns: 1fr calc(60%) calc(20%) 1fr;
        grid-template-rows: 350px auto auto auto auto auto;
        background-image: url("stars.jpg");
        background-attachment: fixed;
        background-position: top;
        background-repeat: repeat-x;
        background-size: auto 350px;
        &::after {
            grid-area: 1 / 3 / 1 / 3;
            content: url("SVG/Asset24.svg");
            width: 180px;
            align-self: center;
            margin-left: -150px;
        }
    }
}

h1,
h2,
h3,
h4 {
    font-family: $primary-font;
    color: $color-5;
}

p {
    margin-top: 0;
    text-align: left;
    line-height: 2em;
}

h1 {
    font-weight: 900;
    font-size: 3.78em;
}

h2 {
    font-size: 2.14em;
    margin-top: 10px;
    line-height: 1.2em;
}

h3 {
    font-weight: 900;
    font-size: 1.21em;
    text-transform: uppercase;
    background: $color-7;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
    color: $color-3;
    width: intrinsic;
    /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;
    /* Firefox/Gecko */
    width: -webkit-max-content;
    /* Chrome */
    align-self: flex-start;
    @include MQ(S) {
        text-align: right;
        align-self: flex-end;
    }
}

a {
    &:link {
        font-weight: bold;
        text-decoration: none;
        color: $color-1;
    }
    &:visited {
        font-weight: bold;
        text-decoration: none;
        color: $color-1;
    }
    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        color: $color-1;
    }
}

abbr[title] {
    border-bottom: none;
    text-decoration: dotted underline;
}


/* specific divs */

.page-wrapper {
    //padding: 20px;
    margin: 0;
    @include MQ(S) {
        display: grid;
        grid-gap: 25px;
        grid-area: 2 / 1 / 6 / 5;
        grid-template-columns: 1fr calc(60%) calc(20%) 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        // width: 100vw;
        background: $color-6;
        &::after {
            grid-area: 3 / 1 / 3 / 4;
            display: flex;
            background-image: url("crab_nebula-crop.jpg");
            background-attachment: fixed;
            background-size: cover;
            -webkit-background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            width: 99vw;
            min-height: 350px;
            content: " ";
        }
    }
}

.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    p {
        display: inline-block;
    }
    h3 {
        align-items: flex-end;
    }
    a {
        font-weight: bold;
        text-decoration: none;
        border-bottom: $color-4 solid;
        &:hover {
            border-top: $color-4 solid;
            visibility: visible;
        }
    }
}

.intro {
    @include MQ(S) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-area: 2 / 2 / 3 / 2;
        display: grid;
        padding-bottom: 60px;
    }
    header {
        display: flex;
        flex-direction: column;
        h1 {
            margin-top: 10px;
            margin-bottom: 0;
            line-height: 1em;
            background: $color-7;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 900;
            font-size: 3.78em;
        }
        h2 {
            font-size: 2.14em;
            margin-top: 10px;
            line-height: 1.2em;
            font-weight: 300;
        }
        @include MQ(S) {
            grid-area: 2 / 2 / 2 / 2;
            margin-top: -100px;
            h3 {
                font-weight: 900;
                font-size: 1.5em;
                text-align: right;
                text-transform: uppercase;
                background: $color-7;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                letter-spacing: 1px;
                margin-top: 20px;
                margin-bottom: 5px;
                color: $color-7;
            }
        }
    }
    @include MQ(S) {
        .summary {
            grid-area: 3 / 2 / 3 / 2;
            p {
                font: italic 1.2em/2.2 $primary-font;
                text-align: left;
            }
        }
        .preamble {
            grid-area: 4 / 2 / 4 / 2;
        }
    }
}

.supporting {
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &:nth-child(n+1) {
            visibility: hidden;
        }
        .zen-validate-html:after {
            visibility: visible;
            content: url("SVG/HTML.svg");
            display: block;
            width: 60px;
        }
        .zen-validate-css:after {
            visibility: visible;
            content: url("SVG/CSS.svg");
            display: block;
            width: 60px;
        }
        .zen-license:after {
            visibility: visible;
            content: url("SVG/CC.svg");
            display: block;
            width: 60px;
        }
        .zen-accessibility:after {
            visibility: visible;
            content: url("SVG/ALLY.svg");
            display: block;
            width: 60px;
        }
        .zen-github:after {
            visibility: visible;
            content: url("SVG/GH.svg");
            display: block;
            width: 60px;
        }
    }
    @include MQ(S) {
        grid-area: 4 / 2 / 6 / 2;
        .explanation {
            grid-area: 3 / 2 / 4 / 2;
            display: flex;
            flex-direction: column;
        }
        &>:nth-child(2) {
            grid-area: 4 / 2 / 4 / 2;
            display: flex;
            flex-direction: column;
        }
        .benefits {
            &::after {
                @include benefitsafter;
            }
        }
        .requirements {
            &::after {
                @include requirementsafter;
            }
        }
    }
}

.sidebar {
    display: flex;
    font: 12pt $primary-font;
    margin-top: 150px;
    h3 {
        text-align: left;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        line-height: 1.3em;
        display: block;
        padding-top: 5px;
        margin-bottom: 5px;
        list-style-type: none;
        a {
            &:link {
                color: $color-2;
            }
            &:visited {
                color: $color-2;
            }
        }
    }
    li a:first-of-type {
        font-weight: 900;
        color: $color-5;
        font-size: 1.21em;
        text-transform: uppercase;
        letter-spacing: 1px;
        list-style-type: none;
        &::after {
            content: "\a";
            white-space: pre;
        }
    }
    .designer-name {
        font-weight: 700;
        color: $color-8;
        font-size: 1.1em;
        // text-transform: uppercase;
        letter-spacing: 1px;
        &::after {
            content: "\a";
            white-space: pre;
        }
    }
    .zen-resources {
        li {
            display: flex;
            a:first-of-type {
                font-weight: 600;
                color: $color-5;
                font-size: 1.1em;
                text-transform: none;
                list-style-type: none;
                text-indent: 1em;
            }
        }
        .view-css {
            &::before {
                visibility: visible;
                content: url("SVG/Asset_16.svg");
                width: 20px;
                display: block;
            }
        }
        .css-resources {
            &::before {
                visibility: visible;
                content: url("SVG/Asset_13.svg");
                width: 20px;
                display: block;
            }
        }
        .zen-faq {
            &::before {
                visibility: visible;
                content: url("SVG/Asset_09.svg");
                width: 20px;
                display: block;
            }
        }
        .zen-submit {
            &::before {
                visibility: visible;
                content: url("SVG/Asset_18.svg");
                width: 20px;
                display: block;
            }
        }
        .zen-translations {
            &::before {
                visibility: visible;
                content: url("SVG/Asset_19.svg");
                width: 20px;
                display: block;
            }
        }
    }
    @include MQ(S) {
        display: grid;
        grid-area: 1 / 3 / 6 / 3;
        grid-template-rows: auto auto auto auto auto;
        grid-template-columns: 1fr;
        font: 12pt "Poppins", sans-serif;
        padding-bottom: 30px;
        margin-top: 10px;
        &>.wrapper {
            grid-area: 1 / 1 / 5 / 1;
            display: grid;
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: 1fr;
        }
        &>.wrapper>.design-selection {
            grid-area: 1 / 1 / 1 / 1;
        }
        &>.wrapper>.design-archives {
            grid-area: 3 / 1 / 3 / 1;
        }
        &>.wrapper>.zen-resources {
            grid-area: 4 / 1 / 4 / 1;
        }
    }
}

nav {
    ul {
        margin-left: 0;
        padding-left: 0;
    }
    li {
        list-style-type: none;
        margin-top: 10px;
    }
    a {
        text-decoration: none;
        color: $color-8;
    }
}