@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,700,900");
html {
  margin: 0;
  padding: 0; }

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.5em;
  color: #000;
  background: #276dcc;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: #ffffff; }

p {
  margin-top: 0;
  text-align: left; }

h1 {
  font-weight: 900;
  font-size: 3.78em; }

h2 {
  font-size: 2.14em;
  margin-top: 10px;
  line-height: 1.2em; }

h3 {
  font-weight: 900;
  font-size: 1.21em;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #330867; }

a :link {
  font-weight: bold;
  text-decoration: none;
  color: #30CFD0; }
a :visited {
  font-weight: bold;
  text-decoration: none;
  color: #30CFD0; }
a :hover,
a :focus,
a :active {
  text-decoration: underline;
  color: #30CFD0; }

abbr {
  border-bottom: none; }

/* specific divs */
.page-wrapper {
  background: #a1a1a1;
  padding: 20px;
  margin: 0; }

header {
  padding-top: 20px;
  height: 110px;
  display: flex;
  flex-direction: column; }
  header h1 {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1em; }

nav ul {
  margin-left: 0;
  padding-left: 0; }
nav li {
  list-style-type: none;
  margin-top: 10px; }
nav a {
  text-decoration: none; }

.design-selection li a:first-of-type {
  font-weight: 900;
  /*color: #330867;*/
  color: #ffffff;
  font-size: 1.21em;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .design-selection li a:first-of-type::after {
    content: "\a";
    white-space: pre; }

@media only screen and (min-width: 768px) {
  .summary {
    clear: both;
    margin: 20px 20px 20px 10px;
    width: 160px;
    float: left; }
    .summary p {
      font: italic 1.1em/2.2 georgia;
      text-align: center; }

  .preamble {
    clear: right;
    padding: 0px 10px 0 10px; }

  .supporting {
    padding-left: 10px;
    margin-bottom: 40px; }

  footer {
    text-align: center; }
    footer a:link,
    footer a:visited {
      margin-right: 20px; }

  .sidebar {
    position: absolute;
    top: 0;
    right: 0; }
    .sidebar .wrapper {
      font: 10px verdana, sans-serif;
      padding: 10px;
      margin-top: 150px;
      width: 130px; }
    .sidebar h3 {
      /*            .select {
                      background: transparent url(http://csszengarden.com/001/h3.gif) no-repeat top left;
                      margin: 10px 0 5px 0;
                      width: 97px;
                      height: 16px;
                      text-indent: 100%;
                      white-space: nowrap;
                      overflow: hidden;
                  }
                  .archives {
                      background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left;
                      margin: 25px 0 5px 0;
                      width: 57px;
                      height: 14px;
                      text-indent: 100%;
                      white-space: nowrap;
                      overflow: hidden;
                  }
                  .resources {
                      background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left;
                      margin: 25px 0 5px 0;
                      width: 63px;
                      height: 10px;
                      text-indent: 100%;
                      white-space: nowrap;
                      overflow: hidden;
                  }*/ }
    .sidebar ul {
      margin: 0;
      padding: 0; }
    .sidebar li {
      line-height: 1.3em;
      background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center;
      display: block;
      padding-top: 5px;
      margin-bottom: 5px;
      list-style-type: none; }
    .sidebar li a :link {
      color: #276dcc; }
    .sidebar li a :visited {
      color: #276dcc; }

  .extra1 {
    position: absolute;
    top: 40px;
    right: 0;
    width: 148px;
    height: 110px; } }
@media only screen and (min-width: 1366px) {
  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #000;
    background: #276dcc;
    margin: 0;
    padding: 0; }

  .page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 115px;
    width: 50%; }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
    .intro h3 {
      font-weight: 900;
      font-size: 1.5em;
      text-align: right;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-top: 20px;
      margin-bottom: 5px;
      color: #330867; }

  .summary {
    margin: 20px 20px 20px 10px;
    width: 681px; }
    .summary p {
      font: italic 1.2em/2.2 "Poppins", sans-serif;
      text-align: left; }

  footer {
    text-align: center; }
    footer a:link,
    footer a:visited {
      margin-right: 20px; }

  .sidebar {
    flex-direction: column;
    margin-left: 115px; }
    .sidebar .wrapper {
      font: 12pt "Poppins", sans-serif;
      margin-top: 150px;
      width: 340px; }
    .sidebar h3 {
      text-align: left;
      /*            .select {
                      background: transparent url(http://csszengarden.com/001/h3.gif) no-repeat top left;
                      margin: 10px 0 5px 0;
                      //width: 97px;
                      height: 16px;
                      //text-indent: 100%;
                      white-space: nowrap;
                      overflow: hidden;
                  }
                  .archives {
                      background: transparent url(http://csszengarden.com/001/h5.gif) no-repeat top left;
                      margin: 25px 0 5px 0;
                      width: 57px;
                      height: 14px;
                      //text-indent: 100%;
                      white-space: nowrap;
                      overflow: hidden;
                  }
                  .resources {
                      background: transparent url(http://csszengarden.com/001/h6.gif) no-repeat top left;
                      margin: 25px 0 5px 0;
                      width: 63px;
                      height: 10px;
                      text-indent: 100%;
                      white-space: nowrap;
                      overflow: hidden;
                  }*/ }
    .sidebar ul {
      margin: 0;
      padding: 0; }
    .sidebar li {
      line-height: 1.3em;
      background: transparent url(http://csszengarden.com/001/cr1.gif) no-repeat top center;
      display: block;
      padding-top: 5px;
      margin-bottom: 5px;
      list-style-type: none; }
    .sidebar li a :link {
      color: #276dcc; }
    .sidebar li a :visited {
      color: #276dcc; }

  /*    .extra1 {
          //background: transparent url(http://csszengarden.com/001/cr2.gif) top left no-repeat;
          position: absolute;
          top: 40px;
          right: 0;
          width: 148px;
          height: 110px;
      }*/ }

/*# sourceMappingURL=style.css.map */
