@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,700,900");
html {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 14px;
  line-height: 1.5em;
  color: #ffffff;
  background: #000;
  margin: 0; }
  @media only screen and (min-width: 768px) {
    body {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      line-height: 1.5em;
      display: grid;
      grid-gap: 0px;
      grid-template-columns: 1fr calc(80%) 1fr;
      grid-template-rows: 350px auto auto auto auto;
      width: 100vw;
      background-image: url("stars.jpg");
      background-attachment: fixed;
      background-position: top;
      background-repeat: repeat-x;
      background-size: auto 350px; }
      body::after {
        grid-area: 1 / 3 / 1 / 3;
        content: url("SVG/Asset24.svg");
        width: 180px;
        align-self: center;
        margin-left: -150px; } }

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: #ffffff; }

p {
  margin-top: 0;
  text-align: left; }

h1 {
  font-weight: 900;
  font-size: 3.78em; }

h2 {
  font-size: 2.14em;
  margin-top: 10px;
  line-height: 1.2em; }

h3 {
  font-weight: 900;
  font-size: 1.21em;
  text-transform: uppercase;
  background: linear-gradient(to right, #30CFD0 0%, #276dcc 35%, #330867 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #330867;
  width: intrinsic;
  /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;
  /* Firefox/Gecko */
  width: -webkit-max-content;
  /* Chrome */
  align-self: flex-start; }
  @media only screen and (min-width: 768px) {
    h3 {
      text-align: right;
      align-self: flex-end; } }

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #30CFD0; }
a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #30CFD0; }
a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #30CFD0; }

abbr[title] {
  border-bottom: none;
  text-decoration: dotted underline; }

/* specific divs */
.page-wrapper {
  padding: 20px;
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .page-wrapper {
      padding: 10px;
      display: grid;
      grid-gap: 25px;
      grid-area: 2 / 1 / 3 / 3;
      grid-template-columns: 1fr calc(60%) calc(20%) 1fr;
      grid-template-rows: auto auto auto auto auto auto;
      width: 100vw;
      background: #000; }
      .page-wrapper::after {
        grid-area: 3 / 1 / 3 / 3;
        display: flex;
        background-image: url("crab_nebula-crop.jpg");
        background-attachment: fixed;
        background-size: cover;
        -webkit-background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        width: 100vw;
        min-height: 300px;
        content: " "; }
      .page-wrapper > .intro {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-area: 1 / 2 / 1 / 2;
        display: grid;
        min-height: 700px; }
      .page-wrapper > .main > .explanation {
        grid-area: 2 / 2 / 2 / 2;
        display: flex;
        flex-direction: column; }
      .page-wrapper > .main:nth-child(n+2) {
        grid-area: 4 / 2 / 4 / 2;
        display: flex;
        flex-direction: column; } }

.summary,
.preamble,
.explanation,
.participation,
.benefits,
.requirements {
  display: flex;
  align-items: flex-start;
  flex-direction: column; }
  .summary h3,
  .preamble h3,
  .explanation h3,
  .participation h3,
  .benefits h3,
  .requirements h3 {
    align-items: flex-end; }

.intro header {
  display: flex;
  flex-direction: column; }
  .intro header h1 {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1em;
    background: linear-gradient(to right, #30CFD0 0%, #276dcc 35%, #330867 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 3.78em; }
  .intro header h2 {
    font-size: 2.14em;
    margin-top: 10px;
    line-height: 1.2em;
    font-weight: 300; }
  @media only screen and (min-width: 768px) {
    .intro header {
      grid-area: 1 / 2 / 2 / 2;
      margin-top: -75px; }
      .intro header h3 {
        font-weight: 900;
        font-size: 1.5em;
        text-align: right;
        text-transform: uppercase;
        background: linear-gradient(to right, #30CFD0 0%, #276dcc 35%, #330867 70%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-bottom: 5px;
        color: linear-gradient(to right, #30CFD0 0%, #276dcc 35%, #330867 70%); } }
@media only screen and (min-width: 768px) {
  .intro .summary {
    grid-area: 2 / 2 / 2 / 2; }
    .intro .summary p {
      font: italic 1.2em/2.2 "Poppins", sans-serif;
      text-align: left; }
  .intro .preamble {
    grid-area: 3 / 2 / 3 / 2; } }

@media only screen and (min-width: 768px) {
  .supporting .participation {
    grid-area: 3 / 2 / 3 / 2; }
  .supporting .benefits {
    grid-area: 4 / 2 / 4 / 2; }
  .supporting .requirements {
    grid-area: 5 / 2 / 5 / 2; }
  .supporting footer {
    grid-area: 6 / 2 / 6 / 2; } }

nav ul {
  margin-left: 0;
  padding-left: 0; }
nav li {
  list-style-type: none;
  margin-top: 10px; }
nav a {
  text-decoration: none;
  color: #cecece; }

.design-selection li a:first-of-type {
  font-weight: 900;
  /*color: #330867;*/
  color: #ffffff;
  font-size: 1.21em;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .design-selection li a:first-of-type::after {
    content: "\a";
    white-space: pre; }

.sidebar {
  display: flex;
  font: 12pt "Poppins", sans-serif;
  margin-top: 150px; }
  .sidebar h3 {
    text-align: left; }
  .sidebar ul {
    margin: 0;
    padding: 0; }
  .sidebar li {
    line-height: 1.3em;
    display: block;
    padding-top: 5px;
    margin-bottom: 5px;
    list-style-type: none; }
  .sidebar li a:link {
    color: #276dcc; }
  .sidebar li a:visited {
    color: #276dcc; }
  @media only screen and (min-width: 768px) {
    .sidebar {
      display: flex;
      grid-area: 1 / 3 / 6 / 3;
      grid-template-rows: auto auto auto auto auto;
      grid-template-columns: 1fr;
      font: 12pt "Poppins", sans-serif;
      margin-top: 150px; }
      .sidebar > .wrapper {
        grid-area: 1 / 1 / 5 / 1; }
      .sidebar > .wrapper > .design-selection {
        grid-area: 1 / 1 / 1 / 1;
        min-height: 900px; }
      .sidebar > .wrapper > .design-archives {
        grid-area: 3 / 1 / 3 / 1; }
      .sidebar > .wrapper > footer {
        grid-area: 4 / 1 / 4 / 1;
        text-align: center; }
        .sidebar > .wrapper > footer a:link,
        .sidebar > .wrapper > footer a:visited {
          margin-right: 20px; } }

/*# sourceMappingURL=style.css.map */
