$grey: #cecece;
$blue: #084887;
$green: #56BF00;
$yellow: #FFCC42;
$red: #D33115;
$ruby: #822828;
$queen: #466995;
$spring: #2E7145;
$purple: #5F0F40;
$alerts: ( "neutral": $blue, "success": $green, "warning": $yellow, "error": $red, );
$colors: ( "grey": $grey, "blue": $blue, "green": $green, "yellow": $yellow, "red": $red, "ruby": $ruby, "queen": $queen, "spring": $spring, "purple": $purple, );
$btn-types: "full" "icon" "round" "long";
// button
@mixin btn() {
    padding: .75em 1.75em;
    width: auto;
    background-color: $grey;
    border: .1em solid $grey;
    font-weight: 700;
    font-family: $main-font;
    font-size: $initial;
    color: $white;
    cursor: pointer;
    @include transition(all, 200ms);
    &.hoverable {
        &:hover {
            background-color: $white;
            border-color: $grey;
            color: $grey;
        }
    }
    &.outline {
        background-color: $white;
        border-color: $grey;
        color: $grey;
        &.hoverable {
            &:hover {
                background-color: $grey;
                color: $white;
            }
        }
    }
    // This loop iterates over all the button types
    @each $type in $btn-types {
        &.#{$type} {
            @if $type=="full" {
                width: 100%;
                display: block;
                margin: .25em 0;
            }
            @else if $type=="icon" {
                padding: .75em;
            }
            @else if $type=="round" {
                padding: .75em;
                border-radius: 100%;
            }
            @else if $type=="long" {
                padding: .75em 5em;
            }
        }
    }
    // this loops over each color in a list of colors
    @each $color,
    $value in $colors {
        &.#{$color} {
            background-color: $value;
            border-color: $value;
            color: $white;
            &.hoverable {
                &:hover {
                    background-color: $white;
                    color: $value;
                    border-color: $value;
                }
            }
            &.outline {
                background-color: $white;
                color: $value;
                &.hoverable {
                    &:hover {
                        background-color: $value;
                        color: $white;
                        border-color: $value;
                    }
                }
            }
        }
    }
    @each $alert,
    $value in $alerts {
        &.#{$alert} {
            background-color: $value;
            border-color: $value;
            color: $white;
        }
    }
}

;
.btn {
    @include btn;
}