/*
xNavigation

*/

.cd-navigation {
    //Primary
    .cd-primary-nav {
        a {
        background-color: black;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.21em;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $color-5;
        }
        a:visited {
            font-weight: bold;
            text-decoration: none;
            color: $color-5;
        }
        a:active {
            text-decoration: underline;
            color: $color-5;
        }
        a:hover {
            color: $color-5;
        }
    }
    //Secondary
    .cd-secondary-nav {
        a {
        background-color: black;
        font-weight: bold;
        text-decoration: none;
        color: #cecece;
        font-size: 2rem;
        }
        a:visited {
            font-weight: bold;
            text-decoration: none;
            color: #cecece;
        }
        a:active {
            text-decoration: underline;
            color: #cecece;
        }
        a:hover {
            color: #cecece;
        }
    }
    //Other Links
    font-size: 2rem;
    a {
        font-weight: bold;
        text-decoration: none;
        color: $color-1
    }
    a:visited {
        font-weight: bold;
        text-decoration: none;
        color: $color-1;
    }
    a:active {
        text-decoration: underline;
        color: $color-1;
    }
    a:hover {
        text-decoration: underline;
        color: $color-1;
    }
    //Navigation box styling
    .cd-box {
        line-height: 3rem;
    }
}